.idea/
__pycache__/
user/__pycache__/
user/migrations/
validation_code/__pycache__/
validation_code/migrations/
env
.mypy_cache/

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
**/migrations/**
!**/migrations
!**/migrations/__init__.py
